@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.question{
    width: 350px;
    margin: 10px;
    padding: 10px;
    border: 4px solid black;
}
.phone{
    position: relative;
    border: 5px solid black;
    width: 300px;
    height: 600px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .2), 0 -19px 20px rgba(0, 0, 0, .2);
    background: rgb(220, 240, 200);
    overflow: hidden;
}
.phone-score{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone-score h1{
    text-align: center;
    font-size: 1rem;
    width: 40%;
    margin: 12px;
    padding: 10px;
    color: #c3f0a1;
    border: 3px solid #a9e778;
    background-color: rgba(51, 119, 51, 0.699);
}
.phone-score input{
    text-align: center;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
    color: rgb(53, 24, 24);
    background-color: transparent;
    border: none;
}
input::selection{
    user-select: none;
}
.layer-1{
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 480px;
    bottom: 0;
    right: 60px;

    animation-name: layer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -80px;
    }
    100%{
        bottom: 0;
    }
}
.layer-1 input[type=checbox]{
    animation-name: bunny;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes bunny{
    0%{
        top: 0;
    }
    25%{
        top: 80px;
    }
    100%{
        top: 0;
    }
}
.layer-2{
    position: absolute;
    z-index: 2;
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 480px;
    bottom: 0;
    left: 60px;

    animation-name: layer;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.layer-3{
    position: absolute;
    z-index: 3;
    width: 220px;
    height: 420px;
    bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: rgb(122, 47, 47);
    border-radius: 15px 15px 0 0;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .5);
}
.layer-4{
    position: absolute;
    z-index: 4;
    width: 80px;
    height: 340px;
    bottom: 0;
    left: 30px;     

    animation-name: layer;
    animation-duration: 2.3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.layer-5{
    position: absolute;
    z-index: 5;
    width: 180px;
    height: 280px;
    bottom: 0;
    margin: 0 auto;
    left: 0; 
    background: rgb(122, 47, 47);
    border-radius: 15px 15px 0 20px;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .5);
}
.layer-6{
    position: absolute;
    z-index: 6;
    width: 80px;
    height: 250px;
    bottom: 0;
    right: 45px; 

    animation-name: layer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.layer-7{
    position: absolute;
    z-index: 7;
    width: 180px;
    height: 190px;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    background: rgb(122, 47, 47);
    border-radius: 15px 15px 20px 0;
    box-shadow: 0 10px 15px 2px rgba(0, 0, 0, .5);
}
.layer-8{
    position: absolute;
    z-index: 8;
    width: 280px;
    height: 100px;
    bottom: 0;
    margin: 0 auto;
    right: 0;
    left: 0;
}
.layer-9{
    position: absolute;
    z-index: 9;
    width: 100px;
    height: 80px;
    bottom: 0;
    margin: 0 auto;
    left: 0;
}
.layer-10{
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 80px;
    bottom: 0;
    margin: 0 auto;
    right: 0;
}
.left-ear-outer{
    background: white;
    width: 20px;
    height: 60px;
    border-radius: 90%;
    position: absolute;
    left: 10%;
}
.left-ear-inner{
    background: rgb(229, 147, 147);
    width: 12px;
    height: 50px;
    border-radius: 90%;
    position: absolute;
    left: 15%;
    top: 10px;
}
.right-ear-outer{
    background: white;
    width: 20px;
    height: 60px;
    border-radius: 90%;
    position: absolute;
    right: 10%;
}
.right-ear-inner{
    background: rgb(229, 147, 147);
    width: 12px;
    height: 50px;
    border-radius: 90%;
    position: absolute;
    right: 15%;
    top: 10px;
}
.head{
    background-color: white;    
    width: 80px;
    height: 80px;
    position: absolute;
    top: 33px;
    border-radius: 50%;
}
.head:hover{
    cursor: pointer;
}
.ice{
    background-color: rgb(68, 61, 61);
    width: 10px;
    height: 10px;
    position: absolute;
    border-radius: 50%;
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes blink{
    0%{
        height: 4px;
    }
    5%{
        height: 1px;
        transform: translate(0px,2px);
    }
    10%{
        transform: translate(0px, 0px);
        height: 4px;
    }
}
.ice-left{
    position: inherit;
    left: 33%;
    top: 20%;
}
.ice-right{
    position: inherit;
    right: 33%;
    top: 20%;
}
.pasture{
    width: 230px;
    height: 40px;
    background-color: rgb(84, 212, 84);
    position: absolute;
    bottom: 0;
}
.pasture-left{
    width: 70px;
    height: 70px;
    background-color: rgb(84, 212, 84);
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 50%;
}
.pasture-center{
    width: 90px;
    height: 90px;
    background-color: rgb(84, 212, 84);
    position: absolute;
    top: -3px;
    margin: 0 auto;
    left: 0;
    right: 0;
    border-radius: 50%;
}
.pasture-right{
    width: 80px;
    height: 80px;
    background-color: rgb(84, 212, 84);
    position: absolute;
    top: 20px;
    right: 28px;
    border-radius: 50%;
}
.cloud{
    width: 70px;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.cloud-top{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}
.cloud-botton{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
}
.cloud2{
    width: 70px;
    height: 50px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
}
.cloud-top2{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: 0;
}
.cloud-botton2{
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: 0;
}
.zigzag {
    background: linear-gradient(135deg, #659b3c 25%, transparent 25%) -25px 0,
        linear-gradient(-135deg,#659b3c 25%, transparent 25%) -25px 0,
        linear-gradient(45deg, #659b3c 25%, transparent 25%),
        linear-gradient(-45deg, #659b3c 25%, transparent 25%);
    background-size: 30px 100px;
    width: inherit;
    height: 32px;
    position: absolute;
    border-radius: 13px 13px 0 0;
}
.zigzag-shadow {
    background: linear-gradient(135deg, #af5f4b 25%, transparent 25%) -25px 0,
        linear-gradient(-135deg,#af5f4b 25%, transparent 25%) -25px 0,
        linear-gradient(45deg, #af5f4b 25%, transparent 25%),
        linear-gradient(-45deg, #af5f4b 25%, transparent 25%);
    background-size: 30px 100px;
    width: inherit;
    height: 32px;
    position: absolute;
    top: 10px;
}